<h1><%= @task.title %></h1>
<div class="h2-grey">
  <h2><%= @task.details %></h2>
</div>
<div class="task-card">
  <h3><% if @task.complete %>
      <i class="far fa-check-square"></i>Task is complete
      <% else %>
      <i class="far fa-square"></i>Task is not complete
      <% end %>
  </h3>
  <%= link_to "Edit task", task_edit_path(@task) %>
</div>

<%= link_to "Back to Tasks", tasks_path %>
