// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-card {
  display: flex;
  align-items: center;
  padding: 20px;
} h3 {
} i {
  margin-right: 10px;
}

h1 {
  padding: 20px;
}

.task-title {
  padding: 10px;
  margin: 0;
} h2 {
  margin-bottom: 5px;
}

.task-check {

} h3 {
  margin-bottom: 0px;
}

.h2-grey {
  background-color: rgba(0, 0, 0, .2);
  padding: 20px;
}

a {
  padding: 20px;
}

.task-create {
  padding: 20px
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  margin-bottom: 20px;
}

